.favorite-food_section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.favorite-food_sub-header {
  text-align: center;
  font-family: Great Vibes;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--primary);
  padding-top: 2rem;
}
.favorite-food_header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}
.favorite-food {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .favorite-food_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 360px;
    font-family: arial;
    background: #f9f9f9;

    .card-img {
      overflow: hidden;
      img {
        cursor: pointer;
        transition: all 0.4s ease-in;
        &:hover {
          scale: 1.1;
          transform: rotate(5deg);
        }
      }
    }

    .card-details {
      padding: 1.2rem;

      .card-label {
        margin-top: 0.8rem;
        font-size: 1.2rem;
      }
      .card-description {
        margin-top: 0.8rem;
      }

      .price-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;

        .price {
          font-size: 1.3rem;
          font-weight: 700;
        }

        button {
          border: none;
          outline: 0;
          padding: 0.7rem 1.5rem;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          font-size: 0.9rem;
          font-weight: 600;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: var(--primary);
          }
        }
      }
    }
  }

  .card-border_line {
    margin: 0 1.5rem;
    border: 1px solid rgb(196, 195, 195);
  }

  .restaurant-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;

    .restaurant-info-inner {
      h6 {
        font-size: 1rem;
        font-weight: 400;
      }
      span {
        color: var(--primary);
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .favorite-food_section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .favorite-food_sub-header {
    font-size: 1.3rem;
  }
  .favorite-food_header {
    text-align: center;
    font-size: 2rem;
  }
}

@media (max-width: 426px) {
  .favorite-food_sub-header {
    font-size: 1rem;
  }
  .favorite-food_header {
    text-align: center;
    font-size: 1.6rem;
  }
}
